// estilos para tablet 
@media(max-width:600px) {
    .container {
        width: 95%;
        display: flex ;
        flex-direction:column;
        gap:20px ;
    }
    .food{
        padding: 30px;
    }
    .food-content{
        padding: 0;
        flex-direction: column;
    }
    .food-1{
        margin: 0;
    }

}